* {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;

}

a, a:visited, a:active {
    text-decoration: none;
    color: #3692D9;
}


body {
    background-color: black
}

#payForm {
    margin: 15% auto auto;
    height: 360px;
    width: 392px;
    background: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 35px 36px 25px;
}

#authorizationForm > img {
    margin: 0 auto 28px;
    display: block;
    top: 35px;
    left: 142px;
    height: 32px;
}

#email, #pass, #enterBtn {
    width: 320px;
    height: 40px;
    left: 36px;
    border: 1px solid rgba(0, 1, 4, 0.16);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 16px;
}

#email, #pass {
    padding-right: 35px;
    padding-left: 16px;
}

#pass {
    margin-bottom: 11px;
}

#email:focus-within, #pass:focus-within {
    border: 1px solid #DF524E;
    outline: none;
}

#email:valid {
    background: url("ok.png") no-repeat scroll 293px 18px;
}

#pass:valid {
    background: url("eye.png") no-repeat scroll 288px 16px;
    top: 148px;
}

#rememberForgot {
    height: 32px;
    line-height: 32px;
}

#forgotPass {
    float: right;
}

#enterBtn {
    background-color: #3FA250;
    color: #ffffff;
    margin-top: 13px;
}

#registration {
    text-align: center;
    color: rgba(0, 1, 4, 0.48);
    line-height: 32px;
}

/*отсюда стартует стилизация чекбоксов*/
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 7px;
    top: 2px;
    width: 14px;
    height: 14px;
    border: 1px solid #3692D9;
    background-color: #ffffff;
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 10px;
    top: 6px;
    width: 7px;
    height: 4px;
    border-radius: 1px;
    border-left: 1px solid #3692D9;
    border-bottom: 1px solid #3692D9;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

/*конец стилизации чекбоксов*/
