*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-size: 14px;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    outline: none;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #0F1E36;
}

.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 62px;
}

.content {
    background: #FFFFFF;
    display: grid;
    grid-template-columns: 169px auto;

}

.sidebar {
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*height: calc(100vh - 62px);*/
    /*width: 169px;*/
    outline: 1px solid #EEEEEE;
    background: #FFFFFF url("images/sidebar/Mask Group.svg") no-repeat 26px 25px;
    padding-top: 88px;
}

.sidebar-list {
    display: grid;
    list-style: none;
}

.sidebar-list-first {
    grid-template-rows: repeat(5, 40px);
}

.sidebar-list-second {
    grid-template-rows: repeat(4, 40px);
}

.sidebar-list-third {
    grid-template-rows: repeat(4, 40px);
}

.sidebar-plus {
    background: url("images/sidebar/Plus.svg") no-repeat 138px 50%;
}

.sidebar-plus:hover {
    background-size: 9%;
}

.sidebar-discover {
    background-image: url("images/sidebar/Discover.svg");
    color: #3E2AD1;
}

.sidebar-songs {
    background-image: url("images/sidebar/Songs.svg");
}

.sidebar-albums {
    background-image: url("images/sidebar/Albums.svg");
}

.sidebar-artists {
    background-image: url("images/sidebar/Artists.svg");
}

.sidebar-youtube {
    background-image: url("images/sidebar/YouTube.svg");
}

.sidebar-favourite {
    background-image: url("images/sidebar/Favourite.svg");
}

.sidebar-history {
    background-image: url("images/sidebar/Recent History.svg");
}

.sidebar-download {
    background-image: url("images/sidebar/Download Items.svg");
}

.sidebar-local {
    background-image: url("images/sidebar/Local Files.svg");
}

.sidebar-bangla,
.sidebar-english,
.sidebar-style,
.sidebar-hindi {
    background-image: url("images/sidebar/PlayList.svg");
}


.sidebar-list li {
    padding-left: 56px;
    background-repeat: no-repeat;
    background-position: 26px 50%;
    opacity: 50%;
    line-height: 40px
}


.sidebar-list li:hover,
.sidebar-list .sidebar-discover {

    opacity: 100%;
    cursor: pointer;
}


.sidebar h4, .sidebar li {
    font-size: 12px;
    font-weight: 900;
}

.sidebar h4, .sidebar li:not(.sidebar-discover) {
    color: #0F1E36;
}

.sidebar h4 {
    padding-left: 26px;
    margin-top: 8px;
    line-height: 24px;
}


.music {
    display: grid;
    grid-template-rows: 65px calc(100vh - 127px);
}


.header{
    display: grid;
    grid-template-columns: 1fr 87px 87px 87px 246px;
}

.header-search, .header-tv, .header-radio, .header-bell, .header-account{
    outline: 1px solid rgba(15, 30, 54, 0.05);
}

.header-search{
    background: url("images/header/Serch.svg") no-repeat 21px 50%;
}

.header-search input{
    outline: none;
    margin: 23px 50px;
    border: none;
}

.header-tv, .header-radio, .header-bell{
    background: no-repeat 50% 50%;
}

.header-search:hover {
    background-size: 3%;
}

.header-tv:hover,
.header-radio:hover,
.header-bell:hover {
    background-size: 30%;
}

.header-tv{
    background-image: url("images/header/TV.svg");
}

.header-radio{
    background-image: url("images/header/Radio.svg");
}

.header-bell{
    background-image: url("images/header/Bell.svg");
}

.header-account{
    background: url("images/header/Account.svg") no-repeat 23px 50%;
    padding-top: 15px;
    padding-left: 71px;
}

.header-account-name{
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}
.header-account-status{
    background: url("images/header/Crown.svg") no-repeat 5px 50%;
    padding-left: 20px;
    font-size: 10px;
    line-height: 16px;
    color: #3E2AD1;
}

.music-scroll {
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 307px;
    background: #f4faff;
}

.music-scroll::-webkit-scrollbar {
    width: 0;
}

.trending {
    background: no-repeat url("images/music.svg") right #e50d24;
}

.trending-text{
    margin-top: 92px;
    margin-left: 53px;
    color: #FFFFFF;
}

.trending-tag{
    font-size: 10px;
    line-height: 14px;
}
.trending-song{
    padding-top: 7px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    width: 235px;
}
.trending-artist{
    font-size: 16px;
    line-height: 14px;
    padding-bottom: 42px;
}

.trending-play, .trending-share{
    cursor: pointer;
    background: #FFFFFF url("images/trending/Play.svg") no-repeat;
    box-shadow: 0 2px 8px #BC1428;
    border-radius: 3px;
    height: 22px;
    display: inline-block;
}

.trending-play{
    width: 62px;
    margin-right: 8px;
    background-position: 15px 50%;
}

.trending-share{
    width: 24px;
    background-position: -55px 50%;
}


.trending-slide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.trending-slide-btn{
    width: 16px;
    height: 5px;
    background: url("images/trending/notActive.svg");
    margin-right: 5px;
}
.trending-slide-btn:hover,
.trending-slide-btn-active
{
    background: url("images/trending/active.svg");
}

.featured {
    margin: 24px 22px 11px;
}

.featured h3 {
    margin-bottom: 13px;
}

.featured-carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, 112px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: left;*/

}

.carousel-card {
    height: 154px;
    width: 112px;
    overflow: hidden;
}

.card1 {
    background: url("images/carousel/1.svg") no-repeat;
}

.card2 {
    background: url("images/carousel/2.svg") no-repeat;
}

.card3 {
    background: url("images/carousel/3.svg") no-repeat;
}

.card4 {
    background: url("images/carousel/4.svg") no-repeat;
}

.card5 {
    background: url("images/carousel/5.svg") no-repeat;
}

.card6 {
    background: url("images/carousel/6.svg") no-repeat;
}

.card7 {
    background: url("images/carousel/8.svg") no-repeat;
}

.carousel-card-song,
.carousel-card-artist {
    color: #0F1E36;

    font-weight: 600;
}

.carousel-card-song {
    margin-top: 120px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 16px;
}

.carousel-card-artist {
    font-size: 10px;
    line-height: 14px;
    opacity: 0.48;
}

.top {
    margin: 11px 22px 0;
}


.top-line, .line {
    display: grid;
    grid-template-columns: 39px 39px 3fr 2fr 180px 150px 117px;
    grid-column-gap: 10px;
    line-height: 39px;

}

.top-line-like:hover,
.top-line-option div:hover {
    background-size: 50%;
}

.top-line-number, .top-headline-number {
    justify-self: center;
}

.top-line-option {
    display: grid;
    grid-template-columns: repeat(3, 39px);
    grid-template-rows: repeat(auto-fill, 39px);
}

.top-line-song,
.top-headline-song {
    margin-left: 15px;
}

.line:hover {
    background: white;
    box-shadow: 0 0 2px #3E2AD1;
    border-radius: 3px;
}

.top-line-like {
    background: url("images/Top/Favourite.svg") no-repeat 50% 50%;
}

@keyframes pulse-line {
    from {
        background-size: 38%;
    }
    50% {
        background-size: 55%;
    }
    to {
        background-size: 38%;
    }
}

.line:hover .top-line-number {
    background: url("images/Top/Voice_recorder.svg") no-repeat 50% 50%;
    justify-self: auto;
    color: rgba(0, 0, 0, 0);
    animation: pulse-line 0.7s infinite ease-in-out;
}

.top-line-option-one {
    background: url("images/Top/Download Items.svg") no-repeat 50% 50%;
}


.top-line-option-two {
    background: url("images/Top/Share.svg") no-repeat 50% 50%;
}

.top-line-option-three {
    background: url("images/Top/Group.svg") no-repeat 50% 50%;
}


.player {
    display: grid;
    grid-template-columns: 169px auto;
}


.player-right {
    background-color: #0F1E36;
}

.player-left {
    background-color: #F51E38;
}


